@import 'variables.css'; /* Global */
*{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

ul{
    list-style-type: none;
}


.navTextAnchor{
    text-decoration: none;
    color: black;
}

header{
    height: 80px;
    box-shadow: inset 0 -1px 0 #D1D2D6;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: var(--containerMargin);
}

.header__logoText{
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
}

.header__logoTextAnchor{
    text-decoration: none;
    color: black;
}

.header__logoText:hover{
    cursor: pointer;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__navList{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__navItem{
    font-weight: 500;
    padding: 30px 27px 23px 17px;
    box-sizing: border-box;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    border-bottom: 3px solid transparent;
}

.header__navItem:hover{
    cursor: pointer;
    border-bottom: 3px solid black;
}

.header__logButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--headerFont);
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    margin: 30px 17px;
    padding: 12px 19px;
    border-radius: 100px;
    border: 1px solid black;
}

.header__logButton:hover{
    cursor: pointer;
}

.articlesHeader{
    padding: 40px 0;
    margin: var(--containerMargin);
}

.articlesHeader__title{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: grey;
}

.articlesHeader__mainText{
    font-family: var(--headerFont);
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 30px 0;
    width: 30%;
}

.articlesHeader__tags{
    margin: 0 0 56px 0;
}

.articlesHeader__keyword{
    font-weight: bold;
}

.articles{
    background-color: #F5F6F7;
}

.articles__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 calc(102px - 8px);
    padding: 62px 0;
}

.articleCard{
    width: 400px;
    height: 576px;
    border-radius: 16px;
    margin: 8px;
}

.articleCard__image{
    width: 400px;
    height: 272px;
}

.articleCard__meta{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(24px);
    margin: 0 24px;
    width: calc(400px - 48px);
}

.articleCard__category{
    padding: 8px 12px;
    background-color: white;
    border-radius: 10px;
}

.articleCard__removeIcon{
    padding: 8px 12px;
    background-color: white;
    border-radius: 10px;
    color: #b6bcbf;
}

.articleCard__removeIcon:hover{
    cursor: pointer;
    color: black;
}

.articleCard__removeButton{
    display: none;
}

.articleCard__text{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 304px;
    padding: 24px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 16px 16px;
}

.articleCard__date{
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

.articleCard__header{
    font-family: var(--headerFont);
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

.articleCard__paragraph{
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.articleCard__source{
    font-family: var(--headerFont);
    color: #B6BCBF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

footer{
    width: 100%;
    height: 80px;
    background-color: white;
}

.footer__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    margin: var(--containerMargin);
}

.footer__copyright{
    color: #B6BCBF;
    font-family: var(--font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.footer__linksTextContainer{
    margin: 0 16px;
}

.footer__linksTextItem{
    padding: 16px;
}

.footer__linksTextItem:hover{
    cursor: pointer;
}

.footer__linkIcon{
    padding: 12px;
}

.footer__linkIcon:hover{
    cursor: pointer;
}
/* @import 'box-model.css'; */
